h1, div, p {
  font-family: -apple-system, BlinkMacSystemFont, 'Inter', 'Noto Sans KR''Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, 
}

input {
  border-radius: 10px;
  border: 0;
  padding: 10px;
}