<h1 mat-dialog-title>추가</h1>
<div mat-dialog-content>
  <p>할 일을 입력하세요.</p>
  <!-- <mat-form-field>
    <input type="text" [(ngModel)]="data.work">
  </mat-form-field>
  <mat-form-field>
    <mat-label>기한을 선택하세요.</mat-label>
    <input matInput [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field> -->
</div>
<div>
</div>
<div mat-dialog-action>
  <button mat-flat-button (click)="onNoClick()">
    종료
  </button>
  <!-- <button mat-flat-button [mat-dialog-close]="data.work">
    추가
  </button> -->
</div>
