<div class="container">
  <div class="bar-container">
    <input
      class="input"
      [(ngModel)]="searchInput"
      placeholder="검색하세요."
    >
    <button class="clear-icon"
      mat-icon-button
      (click)="clearSearch();"
    >
      <mat-icon>clear</mat-icon>
    </button>
  </div>

  <div fxLayout="row"
    gdGap="10px"
  >
    <div class="todo-container"
      *ngFor="let todo of filterTodos(); let i = index;" 
      (click)="onSelect(todo)"
      fxFlex
    >
      <div class="todo-due">
        {{todo.due ? "날짜" : "기한 없음"}}
      </div>
      <div class="todo-work">
        {{todo.work}}
      </div>

      <div class="button-container">
        <div class="todo-normal-btn" (click)="delete(i);">
          삭제
        </div>
        <div (click)="toggle(i);">
          <div class="default" [class.done]="todo.done">
            완료
          </div>
          <div class="default" [class.notDone]="!todo.done">
            미완료
          </div>
        </div>
      </div>
    </div>

    <div class="todo-container" fxFlex>
      <div class="todo-add-title">
        추가
      </div>
      <input matInput
        class="input todo-input"
        [(ngModel)]="todoInput"
        placeholder="할 일을 입력하세요."
      >
      <div class="button-container">
        <div class="todo-normal-btn" (click)="clearAdd();">
          지우기
        </div>
        <div class="todo-add-btn" (click)="add(); clearAdd();">
          추가
        </div> 
      </div>
    </div>
  </div>

</div>