.container {
  max-width: 768px;
  margin: 0 auto;

  padding: 10px;
  margin-top: 40px;
  margin-bottom: 40px;
}

mat-form-field {
  margin: 0;
  width: 100%;
}

.bar-container {
  margin: 10px 0px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: center;
}

.input {
  border-radius: 10px;
  background: white;
  padding: 10px 20px;
  width: 100%;
  box-sizing: border-box;

  border: none;
  font-size: 1.1rem;
}

button.addBtn, .clear-icon{
  margin-left: 10px;
  background: white;
  border-radius: 10px;
}

mat-icon {
  font-size: 18px;
}

.default, .todo-normal-btn, .todo-add-btn {
  font-size: 1rem;
  font-weight: 700;
  text-align: right;
  margin-top: 15px;

  padding: 5px 10px;
  border-radius: 10px;

  display: none;
  color: white;

}

.done, .notDone, .todo-normal-btn, .todo-add-btn {
  display: inline-block;
}

.done {
  background-color: #11EE11;

  &:hover {
    filter: saturate(150%);
  }
}

.notDone {
  background-color: red;

  &:hover {
    filter: saturate(80%);
  }
}

.todo-normal-btn {
  color: grey;
  border-radius: 10px;
  border: 0.35em grey;
  background: #F2F2F4;

  &:hover {
    backdrop-filter: brightness(90%);
  }
}

.todo-add-btn {
  background-color: #2255FF;

  &:hover {
    filter: saturate(70%);
  }
}

.todo-container {
  padding: 20px;
  width: 100%;
  height: 100%;
  display: inline-block;
  box-sizing: border-box;

  background: white;
  border-radius: 10px;

  word-break: break-all;
}

.todo-work, .todo-add-title {
  font-size: 1.3rem;
  font-weight: 700;
  margin-top: 5px;
  line-height: 25px;
}

.todo-due {
  font-size: 0.8rem;
  font-weight: 500;
  color: grey;
}

.button-container {
  display: flex;
  justify-content: space-between;

  margin-top: 20px;
}

.modal-default {
  display: none;
}

.modal-open {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;

  backdrop-filter: blur(20px) brightness(80%);
}

.todo-input {
  display: inline-block;
  margin: 10px 0px;
  background: #F2F2F4;
}